anyio
appdirs
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
babel
backcall
beautifulsoup4
pyblas
bleach
bottleneck
brotli
brotlipy
bz2file
certifi
cffi
charset-normalizer
colorama
comm
contourpy
cryptography
cycler
debugpy
decorator
defusedxml
entrypoints
et_xmlfile
executing
fonttools
freetype-py
gif
glib
#gst-plugins-ml
gstreamer-player
icc_rt
icu
idna
intel-openmp
ipykernel
ipython
ipython_genutils
ipywidgets
jedi
jinja2
joblib
pylibjpeg
json5
jsonschema
jupyter
jupyter_client
jupyter_console
jupyter_core
jupyter_server
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
krb5
lerc
libclang
deflate
cffi
#python-iconv
pyogg
pypng
libsodium
#libtiff
webp
lxml
lz4
markupsafe
matplotlib
mistune
mkl
mkl-service
#mkl-fft
mkl-random
munkres
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook-shim
numexpr
numpy
openpyxl
pyopenssl
packaging
pandas
pandocfilters
parso
pcre2
pickleshare
pillow
platformdirs
ply
pooch
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
pygments
pyparsing
pyqt5
pyqt5-sip
pyrsistent
pysocks
python-dateutil
fastjsonschema
pytz
#pywin32
#pywinpty
pyzmq
pyqtwebengine
qtconsole
qtpy
#pyqtwebkit
requests
scikit-learn
scipy
seaborn
send2trash
setuptools
sip
six
sniffio
soupsieve
pysqlite3
stack-data
tbb
terminado
threadpoolctl
tinycss2
tkinter-qpython
toml
tomli
tornado
traitlets
typing-extensions
tzdata
urllib3
vc
#msvc-runtime
wcwidth
webencodings
websocket-client
wheel
widgetsnbextension
win-inet-pton
xlrd
python-xz
pyzmq
zlib-ng
zstd
dash
dash-bootstrap-components
plotly
